#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         40s
    timeout client          300s
    timeout server          300s
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen stats
    bind    *:50000
    mode    http
    log     global
    maxconn 10
    stats   enable
    stats   hide-version
    stats   refresh 10s
    stats   show-node
    stats   show-desc Stats for ocp4 cluster 
    stats   auth admin:ocp4
    stats   uri /stats

#---------------------------------------------------------------------
# RHOCP-API
#---------------------------------------------------------------------
frontend openshift-api-server
    bind *:6443
    default_backend openshift-api-server
    mode tcp
    option tcplog

backend openshift-api-server
    balance source
    mode tcp
    # option ssl-hello-chk
{% for item in openshift_cluster_hosts %}
{% if 'bootstrap' in item.roles or 'master' in item.roles %}
    server {{ item.hostname }} {{ item.ipaddr }}:6443 check
{% endif %}
{% endfor %}

#---------------------------------------------------------------------
# RHOCP-machine-config-server
#---------------------------------------------------------------------
frontend machine-config-server
    bind *:22623
    default_backend machine-config-server
    mode tcp
    option tcplog

backend machine-config-server
    balance roundrobin
    mode tcp
    # option ssl-hello-chk
{% for item in openshift_cluster_hosts %}
{% if 'bootstrap' in item.roles or 'master' in item.roles %}
    server {{ item.hostname }} {{ item.ipaddr }}:22623 check
{% endif %}
{% endfor %}

#---------------------------------------------------------------------
# RHOCP ingress-http (80)
#---------------------------------------------------------------------
frontend ingress-http
    bind *:80
    default_backend ingress-http
    mode tcp
    option tcplog

backend ingress-http
    balance source
    mode tcp
{% for item in openshift_cluster_hosts %}
{% if 'worker' in item.roles %}
    server {{ item.hostname }} {{ item.ipaddr }}:80 check
{% endif %}
{% endfor %}

#---------------------------------------------------------------------
# RHOCP ingress-httpi (443)
#---------------------------------------------------------------------
frontend ingress-https
    bind *:443
    default_backend ingress-https
    mode tcp
    option tcplog

backend ingress-https
    balance source
    mode tcp
    # option ssl-hello-chk
{% for item in openshift_cluster_hosts %}
{% if 'worker' in item.roles %}
    server {{ item.hostname }} {{ item.ipaddr }}:443 check
{% endif %}
{% endfor %}


